{% extends "base.html" %}
{% load static %}

{% block page_content %}
<p></p><p></p>
<div class="row">
    <center><h1 style="padding-left:40px">Brandon Benton</h1></center>
</div>
<p></p><p></p>
<div class="row">
    <p></p>
    <center>
    <div class="col-md-4">
        <img src="https://portfolio-8nkh.onrender.com/media/project_images/ProfileTransparent.png">
    </div>
    </center>
</div>
<p></p><p></p>
<div class="row">
        <p style="text-align:center;">
        Hello, I'm Brandon Benton, a professional 
        writer and hobbyist programmer aspiring 
        to go pro in the software world. This is 
        my self-hosted web portfolio, showcasing 
        my ongoing programming projects. My 
        focus is artifical intelligence, dynamic 
        web apps, and web automation. I hope to 
        build some impressive projects. This 
        dynamic portfolio site was built using 
        Python's Django with Bootstrap CSS 
        framework. Check out <a href="https://github.com/bdbenton5255">my Github page</a> 
        for the source code of my projects.
        </p>
</div>
<p></p>
<h2>Projects</h2>
<p></p>
<div class="row">
{% for project in projects %}
    <div class="col-md-4" style="padding-top:10px">
        <div class="card mb-2">
            {% if project.image %}
                <img class="card-img-top" src="{{ project.image.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
{% endblock %}